#file formats
*.txt
*.arff
#*.png
*.zip
*.pyc
*.PDF
*.pdf
*checkpoint.ipynb

#folders
./vs
cartPulVis_Data
UnityPackageManager
Library
UnityPlayer.dll
pullCartVis3D.sln
pullCartVis3D.cs
.ipynb_checkpoints
Temp

